:root {
  --mainColor: #278d9f;
  --white: #fff;
  --fontStyle: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  font-family: var(--fontStyle) !important;
  color: var(--white);
}

.logo:hover {
  fill: var(--mainColor);
}

.nav-link {
  font-size: 20px;
}

.search {
  border: 1px solid var(--mainColor);
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url(src/svg/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  transition: 0.3s;
}

.nav-link:focus,
.nav-link:hover,
.search:focus {
  color: rgba(31, 112, 127, 0.3);
}

.select {
  width: 48px;
  height: 60px;
  background-image: url(../assets/svg/ball-2.svg);
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: 15px;
  transition: 0.3s;
}

.select span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: var(--mainColor);
}

.container {
  position: relative;
  min-width: 100%;
  min-height: 95vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.ball {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.ball1 {
  width: 500px;
  height: 500px;
  left: calc(50% - 550px);
  top: 150px;
  background-image: url(../assets/ball/1.png);
}

.ball2 {
  width: 300px;
  height: 300px;
  left: calc(50% + 150px);
  top: 150px;
  background-image: url(../assets/ball/2.png);
}
.header,
.startButton {
  border: 3px solid var(--mainColor);
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
}

.header {
  width: 500px;
  height: 200px;
  border-radius: 25px;
  font-size: 48px;
}

.startButton {
  color: var(--white);
  width: 320px;
  height: 60px;
  border-radius: 15px;
  margin-top: 40px;
  transition: 0.3s;
  overflow: hidden;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.startButton:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.footerTitle {
  padding: 35px 0 0 15px;
  font-size: 20px;
}
